.user-details-container {
	width: 100vw;
	height: 100vh;
	font-family: 'roboto';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f4e7;
}
.card-container {
	width: fit-content;
	max-width: 500px;
	height: fit-content;
	max-height: 75%;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.go-back-button {
	align-self: flex-start;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color: #0b69ff;
	border: none;
	border-radius: 5px;
}
@media screen and (max-width: 576) {
	.card-container {
		width: fit-content;
		max-width: 450px;
		height: fit-content;
		max-height: 60%;
	}
	.go-back-button {
		align-self: flex-start;
		padding: 2px 7px;
		font-size: 10px;
		font-weight: bold;
		color: white;
		background-color: #0b69ff;
		border: none;
		border-radius: 3px;
	}
}
